In [1]:
import pandas as pd

#for the ML model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans

In [2]:
# data processing section

In [3]:
df = pd.read_csv('Resourse/Student_performance_data _.csv')
df_model = df.copy()
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [4]:
df = df.drop(columns=['StudentID'])

In [5]:
df['Gender'] = df['Gender'].replace({0: 'male', 1: 'female'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [6]:
df['Ethnicity'] = df['Ethnicity'].replace({0: 'caucasian', 1: 'african-american', 2: 'asian', 3: 'other'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,caucasian,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,asian,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,caucasian,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,caucasian,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,african-american,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [7]:
df['ParentalEducation'] = df['ParentalEducation'].replace({0: 'none', 1: 'high-school', 2: 'some-college', 3: 'bachelors', 4: 'higher'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [8]:
df['ParentalSupport'] = df['ParentalSupport'].replace({0: 'none', 1: 'low', 2: 'moderate', 3: 'high', 4: 'very high'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,1,moderate,0,0,1,0,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,0,low,0,0,0,0,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,0,moderate,0,0,0,0,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,0,high,1,0,0,0,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,1,high,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,0,very high,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,1,very high,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,0,moderate,0,0,0,1,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,0,moderate,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,0,moderate,0,0,0,1,2.140014,1.0

In [9]:
df['Tutoring'] = df['Tutoring'].replace({0: 'false', 1: 'true'})
df['Extracurricular'] = df['Extracurricular'].replace({0: 'false', 1: 'true'})
df['Sports'] = df['Sports'].replace({0: 'false', 1: 'true'})
df['Music'] = df['Music'].replace({0: 'false', 1: 'true'})
df['Volunteering'] = df['Volunteering'].replace({0: 'false', 1: 'true'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,true,moderate,false,false,true,false,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,false,low,false,false,false,false,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,false,moderate,false,false,false,false,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,false,high,true,false,false,false,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,true,high,false,false,false,false,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,false,very high,true,false,false,false,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,true,very high,false,true,false,false,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,false,moderate,false,false,false,true,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,false,moderate,false,true,true,false,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,false,moderate,false,false,false,true,2.140014,1.0

In [10]:
df['GradeClass'] = df['GradeClass'].replace({0.0: 'A', 1.0: 'B', 2.0: 'C', 3.0: 'D', 4.0: 'F'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,true,moderate,false,false,true,false,2.929196,C
1,18,male,caucasian,high-school,15.408756,0,false,low,false,false,false,false,3.042915,B
2,15,male,asian,bachelors,4.210570,26,false,moderate,false,false,false,false,0.112602,F
3,17,female,caucasian,bachelors,10.028829,14,false,high,true,false,false,false,2.054218,D
4,17,female,caucasian,some-college,4.672495,17,true,high,false,false,false,false,1.288061,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,false,very high,true,false,false,false,3.455509,A
2388,17,male,caucasian,high-school,7.583217,4,true,very high,false,true,false,false,3.279150,F
2389,16,female,caucasian,some-college,6.805500,20,false,moderate,false,false,false,true,1.142333,C
2390,16,female,african-american,none,12.416653,17,false,moderate,false,true,true,false,1.803297,B
2391,16,female,caucasian,some-college,17.819907,13,false,moderate,false,false,false,true,2.140014,B

In [11]:
df.to_csv('Resourse/updated_data.csv', index=False)

In [4]:
# Model Training

In [5]:
#Drop some columns
df_model = df_model.drop(columns=['StudentID', 'GradeClass'])
df_model.head()

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA
0,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196
1,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915
2,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602
3,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218
4,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061

In [6]:
model_data_scaled = StandardScaler().fit_transform(df_model[['Age', 'StudyTimeWeekly', 'Absences']])

model_data_scaled[0:5]

array([[ 0.47291901,  1.78033552, -0.89082237],
       [ 1.36294441,  0.99737625, -1.71769358],
       [-1.30713178, -0.98404514,  1.35354235],
       [ 0.47291901,  0.04544517, -0.06395116],
       [ 0.47291901, -0.90231145,  0.29042222]])

In [7]:
# Create a DataFrame called with the scaled data
# The column names should match those referenced in the StandardScaler step
df_model_scaled = pd.DataFrame(
    model_data_scaled,
    columns=['Age', 'StudyTimeWeekly', 'Absences']
)

# Review the DataFrame
df_model_scaled.head()

        Age  StudyTimeWeekly  Absences
0  0.472919         1.780336 -0.890822
1  1.362944         0.997376 -1.717694
2 -1.307132        -0.984045  1.353542
3  0.472919         0.045445 -0.063951
4  0.472919        -0.902311  0.290422

In [8]:
#drop the newly scaled columns and add the new scaled columns back in their place
df_scaled = df_model.drop(columns=['Age', 'StudyTimeWeekly', 'Absences'])

# df_scaled = pd.concat([df_scaled, df_model_scaled])

df_scaled['Age'] = df_model_scaled['Age']
df_scaled['StudyTimeWeekly'] = df_model_scaled['StudyTimeWeekly']
df_scaled['Absences'] = df_model_scaled['Absences']
# df_scaled['GPA'] = df_model_scaled['GPA']

df_scaled.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,Age,StudyTimeWeekly,Absences
0,1,0,2,1,2,0,0,1,0,2.929196,0.472919,1.780336,-0.890822
1,0,0,1,0,1,0,0,0,0,3.042915,1.362944,0.997376,-1.717694
2,0,2,3,0,2,0,0,0,0,0.112602,-1.307132,-0.984045,1.353542
3,1,0,3,0,3,1,0,0,0,2.054218,0.472919,0.045445,-0.063951
4,1,0,2,1,3,0,0,0,0,1.288061,0.472919,-0.902311,0.290422

In [9]:
#Drop the target column
y = df_model['GPA']

X = df_model.drop(columns=['GPA'])

In [10]:
#Split the data for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
#Instantiate some models
models = []

#Logistic Regression Model
linear_regression_model = LinearRegression() #Classification, random forest regressor, logistical regression is a classification model
# models.append(logistic_regression_model)

# K Means Model
# k_means = KMeans(n_clusters=2)
# models.append(k_means)

# models

In [12]:
linear_regression_model.fit(X_train, y_train)

LinearRegression()

In [13]:
print(f"Training Data Score: {linear_regression_model.score(X_train, y_train)}")
print(f"Testing Data Score: {linear_regression_model.score(X_test, y_test)}")

Training Data Score: 0.9541696080540634
Testing Data Score: 0.9530876164545139

In [14]:
# Predict outcomes for test data set
predictions = linear_regression_model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Prediction    Actual
1004    1.470409  1.427724
196     2.920293  3.117354
2342    1.776824  2.037769
1708    3.525872  3.548521
435     0.241760  0.248977
...          ...       ...
1779    1.141090  1.348607
263     1.441422  1.445077
2067    2.945514  3.030197
2109    2.882258  2.804363
1701    0.671082  0.710957

[598 rows x 2 columns]

In [15]:
linear_regression_model.coef_

### Model Weights
#Gender            :: -6.19529123e-03 ~ -0.6%
#Ethnicity         :: 1.22373337e-02 ~ 1.2%%
#ParentalEducation :: 2.49259697e-03 ~ 0.2%
#Tutoring          :: 8.87234024e-05 ~ 0.009%
#ParentalSupport   :: 2.93401037e-02 ~ 2.9%
#Extracurricular   :: -9.96384765e-02 ~ -9.9%
#Sports            :: 2.60567742e-01 ~ 26%
#Music             :: 1.48145671e-01 ~ 14.8%%
#Volunteering      :: 1.91075683e-01 ~ 19.1%%
#Age               :: 1.79381859e-01 ~ 17.9%
#StudyTimeWeekly   :: 1.50739166e-01 ~ 15%
#Absences          :: -1.82298903e-03 ~ -0.1%

array([-6.19529123e-03,  1.22373337e-02,  2.49259697e-03,  8.87234024e-05,
        2.93401037e-02, -9.96384765e-02,  2.60567742e-01,  1.48145671e-01,
        1.91075683e-01,  1.79381859e-01,  1.50739166e-01, -1.82298903e-03])